<form method="post" action="{{ path('app_game_stat_delete', {'id': game_stat.id}) }}" onsubmit="return confirm('{{ 'delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game_stat.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>