.steam-profile {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.steam-profile > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.steam-profile > form > select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 15%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}

.user-profile {
    text-align: center;
    margin-bottom: 30px;
}

.user-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.user-games, .user-comments {
    margin-bottom: 30px;
    text-align: center;
}

.games-list, .comments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.game-card, .comment-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: 325px;
}

.game-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.add-comment {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.user-add-comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-add-comments > form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.add-comment textarea {
    width: 100%;
    height: 75px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.add-comment button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.add-comment button:hover {
    background-color: #0056b3;
}