{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dicta eaque enim fuga nostrum, quae quam sit. Aliquam at autem beatae cum cumque doloremque ea earum eligendi facilis fugit illo ipsum itaque laboriosam minima minus, molestiae molestias nam nobis nostrum omnis, pariatur praesentium provident quibusdam similique vero vitae voluptatem! Cumque.</p>
    </div>
{% endblock %}
